<!DOCTYPE html>
<html>
<%- include('../../../elements/head.ejs', {title: title}) %>

<body>
  <div class="page">
    <%- include('../../../navigator/sidebar.ejs') %>
    <%- include('../../../navigator/navbar.ejs') %>
    <%- include('../../../elements/breadcrumb.ejs'); %>
    <section class="charts">
      <div class="container-fluid">
        <!-- Page Header-->
        <header>
          <%- include('../../../elements/header.ejs') %>
        </header>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-11" style="text-align: left;">
                <label for="month">Tháng</label>
                <select name="month" class="form-control">
                  <option value="" selected>Tất cả</option>
                  <option value="">1</option>
                  <option value="">...</option>
                  <option value="">12</option>
                </select>
              </div>
            </div>
            <%- include('../chart.ejs') %>
          </div>
        </div>
      </div>
    </section>
    <%- include('../../../elements/footer.ejs') %>
    <%- include('../../../elements/scripts.ejs') %>
  </div>
</body>

</html>