<!DOCTYPE html>
<html>
<%- include('../../elements/head.ejs',{ title: title}); %>

<body>
  <%- include('../../navigator/sidebar.ejs'); %>
  <div class="page">
    <%- include('../../navigator/navbar.ejs'); %>
    <%- include('../../elements/breadcrumb.ejs'); %>
    <section>
      <div class="container-fluid">
        <!-- Page Header-->
        <header class="row">
          <div class="col-sm-8">
            <%- include('../../elements/header.ejs') %>
          </div>
          <%- include('./booksEditBar.ejs'); %>
        </header>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-2">
                <label for="show">Hiển thị</label>
                <select name="show">
                  <option value="">10</option>
                  <option value="">30</option>
                  <option value="">50</option>
                </select>
              </div>
              <div class="col-sm-5">
                <label for="search">Tìm kiếm</label>
                <input type="text" name="search">
                <a href="/books/advance-search" style="margin-left: 2%;"><small>Tìm kiếm nâng cao?</small></a>
              </div>
              <div class="col-sm-3">
                <label for="sortBy">Sắp xếp theo</label>
                <select name="sortBy">
                  <option value="">Tên sách</option>
                  <option value="">Tác giả</option>
                  <option value="">Thể loại</option>
                  <option value="">Ngôn ngữ</option>
                  <option value="">Năm xuất bản</option>
                  <option value="">Nhà xuất bản</option>
                </select>
              </div>
              <div class="col-sm-2">
                <label for="sort">Thứ tự</label>
                <select name="sort">
                  <option value="">Tăng dần</option>
                  <option value="">Giảm dần</option>
                </select>
              </div>
            </div>
            <%- include('./booksList.ejs'); %>
            <%- include('./booksListMng.ejs'); %>
          </div>
        </div>
      </div>
    </section>
    <%- include('../../elements/footer.ejs'); %>
  </div>
  <%- include('../../elements/scripts.ejs'); %>
  <%- include('../../elements/dataScripts.ejs'); %>
</body>

</html>