<!DOCTYPE html>
<html>
<%- include('../../elements/head.ejs', {title: title}) %>

<body>
  <%- include('../../navigator/sidebar.ejs') %>
  <div class="page">
  <%- include('../../navigator/navbar.ejs') %>
  <%- include('../../navigator/index.ejs') %>
  <%- include('../../elements/footer.ejs') %>
  <%- include('../../elements/scripts.ejs') %>
  </div>
</body>

</html>