<!DOCTYPE html>
<html>
<%- include('../../elements/head.ejs',{ title: title}); %>

<body>
  <div class="page">
    <%- include('../../navigator/sidebar.ejs'); %>
    <%- include('../../navigator/navbar.ejs'); %>
    <%- include('../../elements/breadcrumb.ejs'); %>
    <section>
      <div class="container-fluid">
        <!-- Page Header-->
        <header class="row">
          <div class="col-sm-10">
            <%- include('../../elements/header.ejs') %>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-primary"
            onclick="location.href='/readers/add'">Thêm độc giả
              <i class="fa fa-plus-square"></i>
            </button>
          </div>
        </header>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-2">
                <label for="limit">Hiển thị</label>
                <select name="limit" id="limit">
                  <option value="10">10</option>
                  <option value="30">30</option>
                  <option value="50">50</option>
                </select>
              </div>
              <div class="col-sm-5">
                <label for="search">Tìm kiếm</label>
                <input type="text" name="search" id="search">
              </div>
              <div class="col-sm-3">
                <label for="sortBy">Sắp xếp theo</label>
                <select name="sortBy" id="sortBy">
                  <option value="id">Mã độc giả</option>
                  <option value="name">Họ tên</option>
                  <option value="email">Email</option>
                  <option value="createdAt">Ngày lập thẻ</option>
                </select>
              </div>
              <div class="col-sm-2">
                <label for="sort">Thứ tự</label>
                <select name="sort" id="sort">
                  <option value="ASC">Tăng dần</option>
                  <option value="DESC">Giảm dần</option>
                </select>
              </div>
            </div>
            <%- include('./readersList.ejs') %>
          </div>
        </div>
      </div>
    </section>
    <%- include('../../elements/footer.ejs'); %>
  </div>
  <%- include('../../elements/scripts.ejs'); %>
  <%- include('../../elements/dataScripts.ejs'); %>
  <script src="/javascripts/reader-index.js"></script>
</body>

</html>